.filter-box {
  &__items {
    &__search {
      label {
        color: $color-primary-hover;
        margin-bottom: 0.5rem;
        font-size: 1.4rem;
        font-weight: 300;
        display: inline-block;
      }
      .icon {
        width: 2rem;
        position: absolute;
        margin-top: 3.4rem;
        margin-left: -4.7rem;
      }
      input {
        border: 2px solid $color-primary;
        border-radius: 4px;
        width: -webkit-fill-available;
        padding: 1rem;
        margin-bottom: 1rem;
        padding-left: 4rem;
        font-size: 1.4rem;
      }
      input:focus {
        outline: none;
      }
    }
  }
}
