$color-white: #fff;

$color-primary: #0170fe;
$color-primary-hover: #40a9ff;
$color-primary-active: #096dd9;

// $color-secondary: #fe3090;
// $color-secondary-hover: rgb(194, 78, 132);
// $color-secondary-active: #e4c6df;

$color-dark-gray: #222222;
$color-med-gray: #4e4e4e;
$color-light-gray: #999999;
$color-lightest-gray: #f2f2f2;
