$font-size-base: 1.4rem;

$h1-font-size: 3.3rem;
$h2-font-size: 2.8rem;
$h3-font-size: 2.5rem;
$h4-font-size: 2.1rem;
$h5-font-size: $font-size-base;
$h6-font-size: 1.4rem;

$link-color: $color-primary;
$link-decoration: none;
$link-hover-color: $color-primary;
$link-hover-decoration: none;
